<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../../partials/cdn/start') %>
</head>
<body class="" style="height: 100vh; width: 100%; display: flex; justify-content: center; align-items: center; background-image: url('https://img.freepik.com/premium-photo/colorful-abstract-background_80983-1494.jpg'); padding: 0px 10px; background-position: center; background-size: cover; background-repeat: no-repeat;">
    <%- include('../../partials/user-components/registration') %>
</body>
</html>
